<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this travel from being saved:</h2>
      <ul>
      <% @travel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :place %>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :when %>
    <%= f.date_select :when, start_year: 2000, order: [:year, :month] %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, class: "mainarea" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
