<h1>Listing travels</h1>

<table>
  <tr>
    <th>Place</th>
    <th>When</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @travels.each do |travel| %>
  <tr>
    <td><%= travel.place %></td>
    <td><%= travel.when %></td>
    <td><%= travel.body %></td>
    <td><%= link_to 'Show', travel %></td>
    <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
    <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Travel', new_travel_path %>
