<div class="book_index">
  <div class="preface">
    <p class="delta" >
    我妹妹跟我说：旅行和旅游完全是两个概念。旅游只是花钱受罪。旅行却是跟心灵感受相关的东西。就像有句话说的，对于少年来说，旅行是教育的一部份，对于老人来说，旅行是阅历的一部份。
    </p>
  </div>
  <ul>
  <% @travels.each do |travel| %>
    <li class="book_list">
    <%= image_tag(travel.image_url, class: "bookimage") %>
    <div class="onebook">
      <p class="book_title"> <%= travel.place %>~<%= travel.when.strftime('%Y-%m') %> </p>
      <p class="maintext book_body" > <%= travel.body %> </p>
    </div>
    <% if false %>
      <%= link_to 'Show', travel %>
      <%= link_to 'Edit', edit_travel_path(travel) %>
      <%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
