<div class="book_index">
  <%= render 'leader' %>
  <ul>
  <% @travels.each do |travel| %>
    <li class="book_list">
    <%= image_tag(travel.image_url, class: "bookimage") %>
    <div class="onebook">
      <p class="book_title"> <%= travel.place %>~<%= travel.when.strftime('%Y-%m') %> </p>
      <p class="maintext book_body" > <%= travel.body %> </p>
    </div>
    <% if false %>
      <%= link_to 'Show', travel %>
      <%= link_to 'Edit', edit_travel_path(travel) %>
      <%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
