<div class="">
  <%= render 'shared/content_lead', header: "Login" %>
  <%= form_tag '/login', class: "normal-form" do  %>
    <div class="control-group">
      <%= label_tag :email %>
      <div class="controls">
        <%= email_field_tag :email %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <%= submit_tag "Login", class: "btn btn-success" %>
    <br /> <br />
    <h4>Register Here.If you don't have a accent</h4>
    <%= link_to "Register", '/register', class: "btn btn-success" %>
  <% end %>
</div>

