<div class="">
  <%= render 'shared/content_lead', header: "Regist" %>
  <%= form_tag '/login', class: "normal-form" do  %>
    <div class="control-group">
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>
    <div class="control-group">
      <%= label_tag :email %>
      <%= email_field_tag :email %>
    </div>
    <div class="control-group">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <%= submit_tag "NEW USER", class: "btn btn-success" %>
  <% end %>
</div>


