<%= form_for(@article) do |f| %>
  <%= render 'shared/errors', obj: @article %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, cols: 22 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
