<div class="book_index">
  <ul>
  <% @books.each do |book| %>
    <li class="book_list">
    <%= image_tag(book.image_url, class: "bookimage") %>
    <div class="onebook">
      <p class="book_title"> <%= book.title %> </p>
      <p class="maintext book_body" > <%= book.body %> </p>
    </div>
    <% if false %>
      <%= link_to 'Show', book %>
      <%= link_to 'Edit', edit_book_path(book) %>
      <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
