<div class="book_index">
  <div class="preface">
    <p class="delta">
      我小时候不爱读书，语文成绩一直不好。直到初中的时候，语文老师每周布置的作业都有几页的读书笔记。我才渐渐喜欢上读书。细想读书给我带来的影响，不禁感谢那位老师对我们的良苦用心。
    </p>
  </div>
  <ul>
  <% @books.each do |book| %>
    <li class="book_list">
    <%= image_tag(book.image_url, class: "bookimage") %>
    <div class="onebook">
      <p class="book_title"> <%= book.title %> </p>
      <p class="maintext book_body" > <%= book.body %> </p>
    </div>
    <% if false %>
      <%= link_to 'Show', book %>
      <%= link_to 'Edit', edit_book_path(book) %>
      <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
