<div class="container">

  <div class="postbody">
    <%= form_for @post, class: "form-normal" do |f| %>
      <%= f.label :body %>
      <%= f.text_area "body", rows: 4%>
      <%= f.submit :mypost, class: "btn btn-success" %>
    <% end %>
  </div>



  <% @posts.each do |p| %>
    <div class="postbody">
      <%= p.body  %>
      <% if logged_in? and current_user.id == p.user.id %>
        <%= link_to "edit", edit_post_path(p) %>
        <%= link_to "Delete", p, method: "DELETE", comfirm: "Are you sure" %>
      <% end %>
    </div>
  <% end %>
</div>
