<div class="post_index">

  <div class="post_body">
    <%= form_for @post, class: "form-normal" do |f| %>
      <%= f.label "You can Take a post here :)" %>
      <%= f.text_area "body", autofocus: "autofocus" %>
      <%= f.submit :CreatePost, class: "btn btn-success" %> 
    <% end %>
  </div>



  <% @posts.each do |p| %>
    <div class="well">
      <%= p.body  %>
      <% if logged_in? and current_user.id == p.user.id %>
        <%= link_to "edit", edit_post_path(p) %>
        <%= link_to "Delete", p, method: "DELETE", comfirm: "Are you sure" %>
      <% end %>
    </div>
  <% end %>
</div>
