<div>
    <p><%= @post.title %></p>
    <p><%= @post.body %></p>
    <p><%= @post.user.name if !@post.user.nil? %></p>
</div>

<h4>Comments: </h4>
<ul>
<% @post.comments.each do |c| %>
  <li><p><%= c.content %> <%= c.user.name %></p></li>
<% end %>
</ul>

<%= form_for [@post, @comment] do |f| %>
  <%= render 'shared/errors', obj: @comment %>
  <%= f.text_area :content, rows: 5 %>
  <br/>
  <%= f.submit :Add_Comment, :class => "btn btn-success" %>
<% end %>
<!--  binding.pry %>
