<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= display_meta_tags :site => 'TideHunter', :reverse => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main">
    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

</body>
</html>
