<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= display_meta_tags :site => 'TideHunter', :reverse => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
  <div id="main">
    <%= yield %>
  </div>
  <div class="footer">
  </div>
</body>
</html>
